{% extends 'base.html' %}


{% block content %}
    
    <h1>Friends List</h1>

    {% for friend in friends %}
        <div class='card'>
            <div class='card-content'>
                <span class='cart-title'>
                    {{ friend.name }}
                </span>
                <p>
                    Description: {{ friend.description }}
                </p>
                <p>
                    Breed: {{ friend.breed }}
                </p>
                {% if friend.age > 0 %}
                    <p>
                        Age: {{ friend.age }}
                    </p>
                {% else %}
                    <p>
                        Age: Baby
                    </p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    
{% endblock %}
    